<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/todos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div id="container">
        <h1>To-Do List <i class="fas fa-plus"></i></h1>
        <form action="/todos" method="POST">
            <input type="text" placeholder="Add To-Do" name="todo[task]">
        </form>
        <ul>
            <% todos.forEach(function(todo) { %>
            <li><span><form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
                <button><i class="fas fa-trash"></i></button>
            </form></span><%= todo.task %></li>
            <% }) %>            
        </ul>
    </div>
    <script src="/js/todos.js"></script>    
</body>
</html>